<html>

<head>
    <title>Moonlight Bakery</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

    <link rel="stylesheet" href="../css/styles.css">

    <script src="https://use.typekit.net/huu8mlz.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
</head>

<body>
    <section id="menu-banner">
        <div class="wrapper">
            <header>
                <p id="logo">Moonlight Bakery<span></span></p>

                <nav>
                    <a href="../index.html">Home</a>
                    <a href="#">About</a>
                    <a href="#" class="button button_secondary button_small">Get in touch</a>
                </nav>
            </header>

            <div class="content">
                <h1 class="title">Menu</h1>
            </div>
        </div>
    </section>
    <section id="menu">
        <h1>Pastries</h1>
        <div class="columns">
            <div class="left">
                <ul>
                    <li>Almond Croissant</li>

                    <li>Baked Apple Fritter</li>

                    <li>*Banana Nut Muffin</li>

                    <li>Bear Claw</li>



                    <li>Butter Croissant</li>

                    <li>Butterhorn</li>

                    <li>Bran Muffin</li>

                    <li>Cheese Danish</li>

                    <li>Chocolate Brioche</li>

                    <li>Chocolate Croissant</li>

                    <li>Calif. Cinnamon Roll</li>


                </ul>
            </div>
            <div class="right">
                <ul>
                    <li>Fruit & Cheese Danish</li>

                    <li>Kringle: Almond,Apple,Apricot</li>

                    <li>Cherry</li>

                    <li>Raspberry</li>

                    <li>Orange Pretzel</li>

                    <li>Palmier </li>

                    <li>Pecan Danish</li>

                    <li>Pecan Sticky Bun/Ring</li>

                    <li>Wild Blueberry Muffin</li>
                    <li>Cinnamon Roll</li>

                    <li>Cranberry Currant Scone</li>
                </ul>
            </div>
        </div>

        <div class="columns">
            <div class="left">
                <h1>Cream Filled Pastries</h1>
                <ul>
                    <li>Carrot Cake Slice</li>

                    <li>Cheese Cake Slice</li>

                    <li>Cream Horn</li>

                    <li>Eclair</li>

                    <li>*Fruit Boat </li>

                    <li>Lemon Tart</li>

                    <li>Napoleons</li>

                    <li>Pear Tart</li>

                    <li>Rainbow Slice</li>

                    <li>Sacher-Torte Slice</li>

                    <li>Vanilla Slice</li>
                </ul>
            </div>
            <div class="right">
                <h1>Cookies</h1>
                <ul>
                    <li>Almond</li>

                    <li>Chocolate Chip</li>

                    <li>Coconut Macaroon</li>

                    <li>Oatmeal</li>

                    <li>Snickerdoodle</li>

                    <li>Wedding </li>

                    <li>Bat Cookie</li>

                    <li>Moon Cookie </li>

                    <li>Gingerbread man</li>
                    <li>*Watermelon Icebox</li>
                </ul>
            </div>
        </div>
        <div class="columns">
            <div class="left">
                <h1>Bread</h1>
                <ul>
                    <li>Baguette</li>

                    <li>Brioche</li>

                    <li>Ciabatta (12-15oz.)</li>

                    <li>Ciabatta Rolls</li>

                    <li>Cinnamon Raisin Bread</li>

                    <li>Focaccia </li>

                    <li>Fruit & Nut Sourdough</li>

                    <li>Homestyle White Bread</li>

                    <li>Italian Bread</li>

                    <li>9 Grain Bread</li>

                    <li>Rye </li>
                    <li>Sourdough Round</li>
                    <li>Stoneground Whole Wheat</li>
                </ul>
            </div>
            <div class="right">
                <h1>Kolaches</h1>
                <ul>
                    <li>Apple</li>

                    <li>Apricot</li>

                    <li>Blueberry</li>

                    <li>Cherry</li>

                    <li>Cream Cheese</li>

                    <li>Raspberry</li>

                    <li>Kolache Ring</li>

                    <li>Ham & Swiss </li>

                    <li>Ham, Swiss w/Jalapeno </li>
                    <li>Sausage</li>
                    <li>Sausage, Jalapeno w/Cheese. </li>
                    <li>Savory Dozen</li>
                </ul>
            </div>
        </div>

    </section>



    <footer>
        <p class="copyright">&copy; 2016 <a href="#">Moonlight Bakery</a></p>
    </footer>
</body>

</html>