// - - - - - - - - - - Variables - - - - - - - - - //
$white: #FFFFFF;
$highlight: #A19394;
$grey_background: #f2f1f8;
$grey_copy: #b9b7c6;
$dark_grey: #3f3d4e;
// - - - - - - - - - - Global Styles - - - - - - - - - //
* {
    box-sizing: border-box;
}

body {
    font-family: "fira-sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    width: 1441px;
    max-width: 90%;
    margin: 0 auto;
}

.button {
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: .6rem 3.5rem;
    font-weight: 700;
    color: $white;
    text-decoration: none;
    text-align: center;
}

.button_highlight {
    background: $highlight;
}

.button_secondary {
    background: rgba(250, 250, 250, 0.35);
}

.button_small {
    padding: .3rem 1.5rem;
}

.button_large {
    padding: 1rem 5rem;
    font-size: 1.35rem;
}

.cf:after,
.cf:before {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

// - - - - - - - - - - Mixins - - - - - - - - - //
@mixin centerer($position:relative) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin v-center($position:relative) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin h-center($position:relative) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// - - - - - - - - - - Banner Styles - - - - - - - - - //
#banner {
    background-image: url(../images/banner_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    header {
        padding: 2rem 0;
    }
    #logo {
        color: $white;
        font-weight: 700;
        font-size: 1.35rem;
        float: left;
        margin: 0;
        span {
            font-weight: 400;
        }
    }
    nav {
        float: right;
        a {
            color: $white;
            font-weight: 700;
            text-decoration: none;
            margin-left: 2rem;
        }
    }
    .content {
        padding: 4rem 0 8rem 0;
        .title,
        .sub_title {
            color: $white;
            text-align: center;
        }
        .title {
            font-size: 3.5rem;
            margin: 0;
        }
        .sub_title {
            font-weight: 400;
            font-size: 1.35rem;
            width: 500px;
            margin: 0 auto 2rem auto;
            line-height: 1.75;
        }
        .button_wrapper {
            text-align: center;
            margin: 3rem 0;
            .button {
                margin: 0 .75rem;
            }
        }
        .see_more {
            position: absolute;
            left: 50%;
            margin-left: -15px;
            bottom: 90px;
        }
    }
}

#menu-banner {
    @extend #banner;
    background-position: center center;
    .content {
        padding: 4em 0;
    }
}

#menu {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 3em;
    text-align: center;
    .columns {
        width: 100%;
        height: 22em;
        margin-bottom: 3em 0;
        .left {
            width: 50%;
            height: auto;
            padding: 0 1em;
            display: inline-block;
            float: left;
            text-align: center;
            ul {
                list-style-type: none;
                margin: 0;
                li {
                    line-height: 1.5em;
                    color: $dark_grey;
                }
            }
        }
        .right {
            @extend .left;
            float: right;
            border-left: 1px solid grey;
        }
    }
}

// - - - - - - - - - - Services Styles - - - - - - - - - //
#services {
    background: $grey_background;
    padding: 2rem 0 6.5rem 0;
    position: relative;
    .service {
        background: $white;
        width: 31%;
        float: left;
        margin: -5rem 1% 0 1%;
        padding: 3rem 2.5%;
        text-align: center;
        position: relative;
        -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
        -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
        box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
        border-radius: .35rem;
        h3 {
            margin: 0;
            font-size: 1.5rem;
            color: $dark_grey;
        }
        p {
            margin: 0 0 2rem 0;
            color: $dark_grey;
        }
        .button {
            padding: .5rem 2rem;
        }
        &:after {
            content: " ";
            position: absolute;
            left: 50%;
            bottom: -50px;
            height: 50px;
            border-left: 2px solid #c9c7d3;
        }
    }
    .middle {
        &:after {
            bottom: -105px;
            height: 105px;
        }
    }
    &:before {
        content: " ";
        position: absolute;
        left: 50%;
        bottom: 54px;
        border-top: 2px solid #c9c7d3;
        width: 59.5%;
        margin-left: -30.1%;
    }
}

// - - - - - - - - - - Location - - - - - - - - - //
#location {
    background: $dark_grey;
    padding: 1.5rem 0 0 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    .title {
        color: $white;
        font-size: 2.5rem;
        margin: 0 0 1.5rem 0;
    }
    a {
        text-decoration: none;
        .map {
            height: 15em;
            width: 100%;
            background-repeat: no-repeat;
            background-image: url(../images/Location.jpg);
            background-size: cover;
            background-position: center center;
            box-shadow: 0px 0px 21px 2px black;
        }
        .address {
            width: 100%;
            height: 6em;
            position: relative;
            .spans {
                @include centerer;
                span {
                color: $grey_copy;
                text-align: center;
            }
            }
            
        }
    }
}

// - - - - - - - - - - Contact Styles - - - - - - - - - //
#contact {
    background: $grey_background;
    padding: 6rem 0 8rem 0;
    text-align: center;
    .title {
        font-size: 2.5rem;
        color: $dark_grey;
        margin: 0;
    }
    .sub_title {
        font-size: 1.5rem;
        color: $grey_copy;
        width: 600px;
        max-width: 100%;
        display: block;
        margin: 0 auto 4rem auto;
    }
}

footer {
    padding: 1rem 0;
    .copyright {
        text-align: center;
        font-weight: 700;
        color: $grey_copy;
        a {
            color: $highlight;
            text-decoration: none;
        }
    }
}